---
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import FadeImage from "../components/FadeImage.astro";
import "../styles/global.css";
import forest from "../images/forest.jpg";
---

<Layout>
  <Navbar client:load />
  <FadeImage
    src={forest}
    alt="Old growth forest scenic. Patte David, U.S. Fish and Wildlife Service"
  />

  <Menu />

  <section id="events" class="px-10 pt-10 bg-green-200">
    <h1 class="text-3xl font-bold">Events</h1>
  </section>
</Layout>
