---
import "../styles/global.css";

import CoverImage from "../components/CoverImage.astro";
import Info from "../components/Info.astro";
import Menu from "../components/Menu.astro";
import Navbar from "../components/Navbar";
import SignUp from "../components/SignUp.astro";
import picture from "../images/painting.png";
import Layout from "../layouts/Layout.astro";

const { navbarSettings }: { navbarSettings: { reservationUrl: string } } =
  await sanityClient.fetch(`{
    "navbarSettings": *[_type == "navbarSettings"][0]
  }`);
---

<Layout>
  <Navbar reservationUrl={navbarSettings.reservationUrl} client:load />
  <section id="home">
    <CoverImage src={picture} alt="Painting of trees and a pond" />
  </section>
  <Info />
  <Menu />
  <SignUp />
</Layout>
