---
import "../styles/global.css";

import CoverImage from "../components/CoverImage.astro";
import Info from "../components/Info.astro";
import Menu from "../components/Menu.astro";
import Navbar from "../components/Navbar";
import picture from "../images/painting.png";
import Layout from "../layouts/Layout.astro";
import SignUp from "../components/SignUp.astro";
---

<Layout>
  <Navbar client:load />
  <section id="home">
    <CoverImage src={picture} alt="Painting of trees and a pond" />
  </section>
  <Info />
  <Menu />
  <SignUp />
</Layout>
