---
import { sanityClient } from "sanity:client";

const infoSection = await sanityClient.fetch(
  `*[_type == "infoSection" && _id == "infoSection"][0]{
    blurb,
    hours,
    "imageUrl": image.asset->url
  }`
);
---

<section
  id="info"
  class="relative px-4 pb-40 bg-leafy-background text-stone-200 min-h-screen flex items-center justify-center"
>
  <div class="mx-auto w-9xl">
    <div class="grid lg:grid-cols-2 gap-10 md:gap-20 items-center">
      <div
        class="flex flex-col self-center mx-auto max-w-xl w-full space-y-4 prose prose-invert prose-stone"
      >
        <h1 class="text-4xl font-bold mt-2">Hush Harbor</h1>
        <p>{infoSection?.blurb || "A short blurb here about the bar."}</p>
        <div>
          <p class="text-xl font-semibold">
            {infoSection?.hours || "Hours TBD"}
          </p>
        </div>
        <div>
          <p>1337 H Street NE</p>
          <p>Washington, DC 20002</p>
          <p>(202) 399-1337</p>
          <p>connect@hushharbor.co</p>
          <p class="mt-4">
            Located on the Streetcar line, a short ride from Union Station.
          </p>
        </div>
      </div>
      <div class="w-full flex justify-center">
        <div class="relative w-full max-w-[400px] aspect-square">
          {
            infoSection?.imageUrl && (
              <img
                src={infoSection.imageUrl}
                alt="Info section image"
                class="object-cover w-full h-full rounded-lg shadow-lg"
              />
            )
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom fade effect -->
  <div
    class="absolute bottom-0 left-0 w-full h-24 bg-gradient-to-t from-sky to-transparent pointer-events-none z-10"
  >
  </div>
</section>
