---
import { PortableText } from "@portabletext/react";
import { sanityClient } from "sanity:client";

import InfoImageOverlay from "./InfoImageOverlay";

const infoData = await sanityClient.fetch(`*[_type == "infoText"][0]`);
---

<section
  id="info"
  class="relative px-4 pb-40 bg-leafy-background text-stone-200 min-h-screen flex items-center justify-center"
>
  <div class="mx-auto w-9xl">
    <div class="grid lg:grid-cols-2 gap-10 md:gap-20 items-center">
      <!-- Left: Info Text -->
      <div
        class="flex flex-col self-center mx-auto max-w-xl w-full space-y-4 prose prose-invert prose-stone"
      >
        <PortableText value={infoData?.content} />
      </div>

      <!-- Right: Info Image -->
      <InfoImageOverlay client:load />
    </div>
  </div>

  <!-- Bottom fade effect -->
  <div
    class="absolute bottom-0 left-0 w-full h-24 bg-gradient-to-t from-tree-bark to-transparent pointer-events-none z-10"
  >
  </div>
</section>
