---
import { sanityClient } from "sanity:client";
import type { MenuSection } from "../types";
import { MenuWithMobileFilter } from "./MenuWithMobileFilter";

const menuSections: MenuSection[] =
  await sanityClient.fetch(`*[_type == "menuSection"] | order(order asc) {
    _id,
    title,
    type,
    "items": *[_type == "menuItem" && references(^._id)] | order(name asc) {
      _id,
      name,
      description,
      price,
      tags,
      isHappyHour
    }
  }`);
---

<section
  id="menu"
  class="relative px-10 pt-10 pb-40 bg-tree-bark text-stone-300"
>
  <h1 class="text-3xl font-bold mb-6 text-center">Menu</h1>

  <MenuWithMobileFilter client:load menuSections={menuSections} />

  <!-- Bottom fade effect -->
  <div
    class="absolute bottom-0 left-0 w-full h-24 bg-gradient-to-t from-leafy-dark to-transparent pointer-events-none z-10"
  >
  </div>
</section>
