---
import type { MenuSection } from "../types";
import { sanityClient } from "sanity:client";

const menuSections: MenuSection[] =
  await sanityClient.fetch(`*[_type == "menuSection"] | order(order asc) {
  _id,
  title,
  type,
  "items": *[_type == "menuItem" && references(^._id)] | order(name asc) {
    _id,
    name,
    description,
    price,
    tags,
    isHappyHour
  }
}`);
---

<section id="menu" class="px-10 pt-20 bg-forest-dark pb-10">
  <h1 class="text-3xl font-bold mb-6">Menu</h1>

  {
    menuSections.map((section) => (
      <div class="mb-10">
        <h2 class="text-2xl font-semibold mb-2">{section.title}</h2>
        <ul class="space-y-2">
          {section.items.map((item) => (
            <li>
              <div class="flex justify-between items-start">
                <div>
                  <p class="font-medium">{item.name}</p>
                  {item.description && (
                    <p class="text-sm text-gray-700">{item.description}</p>
                  )}
                </div>
                <span class="ml-4 font-bold">${item.price}</span>
              </div>
              {item.isHappyHour && (
                <span class="text-xs text-yellow-600">Happy Hour</span>
              )}
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</section>
