---
import Greeting from '../components/Greeting';
import Layout from '../layouts/Layout.astro';
import { sanity } from '../lib/sanity';

const posts = await sanity.fetch(`*[_type == "post"]{_id, title}`);
---

<Layout>
  <h1>Sanity Posts</h1>
  <ul>
    {posts.map((post) => (
      <li>{post.title}</li>
    ))}
  </ul>
  <Greeting />
</Layout>
